.GlobalNavigationBar__header-1YXur {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  transition: background-color 0.25s ease-in-out; }
  .GlobalNavigationBar__headerWrap-3f3ja {
    position: relative;
    max-width: 1064px;
    height: 58px;
    margin-right: auto;
    margin-left: auto;
    padding: 9px 20px;
    box-sizing: border-box; }
    @media only screen and (max-width: 768px) {
      .GlobalNavigationBar__headerWrap-3f3ja {
        max-width: 100%;
        height: auto; } }
  .GlobalNavigationBar__headerLogo-xZt77 {
    float: left; }
    @media only screen and (max-width: 768px) {
      .GlobalNavigationBar__headerLogo-xZt77 {
        float: none; } }
    .GlobalNavigationBar__headerLogo-xZt77 .GlobalNavigationBar__logoLink-39hFh {
      display: inline-block;
      padding: 10px;
      vertical-align: top; }
    .GlobalNavigationBar__headerLogo-xZt77 .GlobalNavigationBar__logoImage-3gjwc {
      overflow: hidden;
      height: 20px; }
    .GlobalNavigationBar__headerLogo-xZt77 .GlobalNavigationBar__logoImageItem-3vGA6 {
      display: block;
      height: 100%; }
  .GlobalNavigationBar__headerAsideButton-gX23U {
    display: none;
    position: absolute;
    top: 0;
    right: 15px;
    margin: 5px;
    padding: 14px;
    border: 0;
    outline: 0;
    background-color: transparent; }
    @media only screen and (max-width: 768px) {
      .GlobalNavigationBar__headerAsideButton-gX23U {
        display: block; } }
    .GlobalNavigationBar__headerAsideButton-gX23U .GlobalNavigationBar__buttonIcon-3Cb1F {
      overflow: hidden;
      display: block;
      width: 20px;
      height: 20px;
      color: transparent;
      font-size: 12px; }
      .GlobalNavigationBar__headerAsideButton-gX23U .GlobalNavigationBar__buttonIconNav-2zPDA {
        background-image: linear-gradient(#3b3b46 2px, transparent 2px);
        background-size: 100% 8px; }
      .GlobalNavigationBar__headerAsideButton-gX23U .GlobalNavigationBar__buttonIconClose-3HFuM:before, .GlobalNavigationBar__headerAsideButton-gX23U .GlobalNavigationBar__buttonIconClose-3HFuM:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 20px;
        background-color: #3b3b46; }
      .GlobalNavigationBar__headerAsideButton-gX23U .GlobalNavigationBar__buttonIconClose-3HFuM:before {
        transform: translate(-50%, -50%) rotate(45deg); }
      .GlobalNavigationBar__headerAsideButton-gX23U .GlobalNavigationBar__buttonIconClose-3HFuM:after {
        transform: translate(-50%, -50%) rotate(-45deg); }
  .GlobalNavigationBar__headerNav-4MExW {
    overflow: hidden;
    text-align: right;
    box-sizing: border-box; }
    @media only screen and (max-width: 768px) {
      .GlobalNavigationBar__headerNav-4MExW {
        max-height: 0;
        opacity: 0;
        margin-right: -20px;
        margin-left: -20px;
        text-align: left;
        transition: 0.5s ease-in-out; } }
  .GlobalNavigationBar__headerNavItem-3exDF {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 6px;
    color: #3b3b46;
    vertical-align: top;
    text-decoration: none; }
    @media only screen and (max-width: 768px) {
      .GlobalNavigationBar__headerNavItem-3exDF {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 14px 30px; }
        .GlobalNavigationBar__headerNavItem-3exDF:hover {
          background-color: #f2f4f6; }
        .GlobalNavigationBar__headerNavItemClear-XpIgn:hover {
          display: inline-block;
          background-color: transparent; }
        .GlobalNavigationBar__headerNavItem-3exDF:first-child {
          margin-top: 8px; } }
    .GlobalNavigationBar__headerNavItem-3exDF .GlobalNavigationBar__navText-XLoDm {
      display: block;
      height: 20px;
      font-size: 15px;
      line-height: 20px; }
    .GlobalNavigationBar__headerNavItem-3exDF .GlobalNavigationBar__navBlock-2ddDD {
      overflow: hidden;
      display: inline-block;
      height: 23px;
      margin-top: -2px;
      margin-bottom: -1px;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 13px;
      font-weight: 400;
      line-height: 23px;
      vertical-align: top;
      background-color: rgba(78, 89, 104, 0.16);
      border-radius: 2px; }
  .GlobalNavigationBar__headerOpen-22Cj4 {
    background-color: #fff !important; }
    .GlobalNavigationBar__headerOpen-22Cj4 .GlobalNavigationBar__headerNav-4MExW {
      max-height: 400px;
      opacity: 1; }
  .GlobalNavigationBar__headerClear-3xEHQ {
    background-color: transparent; }
    .GlobalNavigationBar__headerClear-3xEHQ .GlobalNavigationBar__headerNavItem-3exDF {
      color: #fff; }
    .GlobalNavigationBar__headerClear-3xEHQ .GlobalNavigationBar__headerNavItem-3exDF .GlobalNavigationBar__navBlock-2ddDD {
      background-color: #4e5968; }
    .GlobalNavigationBar__headerClear-3xEHQ .GlobalNavigationBar__headerAsideButton-gX23U {
      background-color: transparent; }
    .GlobalNavigationBar__headerClear-3xEHQ .GlobalNavigationBar__headerAsideButton-gX23U .GlobalNavigationBar__buttonIconNav-2zPDA {
      background-image: linear-gradient(#fff 2px, transparent 0); }
    .GlobalNavigationBar__headerClear-3xEHQ .GlobalNavigationBar__logoImage-3gjwc .GlobalNavigationBar__logoImageItem-3vGA6:first-child {
      height: 0;
      opacity: 0; }
  .GlobalNavigationBar__headerNotIndent-2R5ol {
    position: absolute;
    top: 150px;
    background-color: transparent; }
    @media only screen and (max-width: 768px) {
      .GlobalNavigationBar__headerNotIndent-2R5ol {
        display: none; } }
    .GlobalNavigationBar__headerNotIndent-2R5ol .GlobalNavigationBar__headerNavItem-3exDF {
      color: #3b3b46; }
    .GlobalNavigationBar__headerNotIndent-2R5ol .GlobalNavigationBar__headerNavItem-3exDF .GlobalNavigationBar__navBlock-2ddDD {
      background-color: #4e5968;
      color: #ffffff; }
    .GlobalNavigationBar__headerNotIndent-2R5ol .GlobalNavigationBar__headerAsideButton-gX23U {
      background-color: transparent; }
    .GlobalNavigationBar__headerNotIndent-2R5ol .GlobalNavigationBar__headerAsideButton-gX23U .GlobalNavigationBar__buttonIconNav-2zPDA {
      background-image: linear-gradient(#fff 2px, transparent 0); }
    .GlobalNavigationBar__headerNotIndent-2R5ol .GlobalNavigationBar__logoImage-3gjwc .GlobalNavigationBar__logoImageItem-3vGA6:nth-child(1) {
      opacity: 0;
      height: 0; }
    .GlobalNavigationBar__headerNotIndent-2R5ol .GlobalNavigationBar__logoImage-3gjwc .GlobalNavigationBar__logoImageItem-3vGA6:nth-child(2) {
      opacity: 1; }

.GlobalNavigationBar__logoImage-3gjwc .GlobalNavigationBar__logoImageItem-3vGA6:nth-child(1) {
  opacity: 1; }

.GlobalNavigationBar__logoImage-3gjwc .GlobalNavigationBar__logoImageItem-3vGA6:nth-child(2) {
  opacity: 0; }

.FabButton__button-3VqYY {
  margin: 0 6px;
  float: left;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  transition: .1s; }
  .FabButton__button-3VqYY > img {
    display: block;
    width: 100%;
    height: 100%; }
  .FabButton__button-3VqYY:hover {
    opacity: .5; }

.GlobalFooter__footer-3WNqB {
  margin-top: 40px;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 100px; }
  @media only screen and (max-width: 768px) {
    .GlobalFooter__footer-3WNqB {
      margin-top: 0;
      padding: 60px 40px 80px; } }
  .GlobalFooter__footerWrap-kZaR_ {
    max-width: 1064px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 67px;
    padding-left: 67px;
    box-sizing: border-box; }
    @media only screen and (max-width: 768px) {
      .GlobalFooter__footerWrap-kZaR_ {
        padding: 0; } }
  .GlobalFooter__footerMap-2WG34 {
    padding-bottom: 50px; }
    @media only screen and (max-width: 768px) {
      .GlobalFooter__footerMap-2WG34 {
        padding-bottom: 0; } }
    .GlobalFooter__footerMap-2WG34:after {
      content: '';
      display: block;
      clear: both; }
    .GlobalFooter__footerMap-2WG34 .GlobalFooter__mapList-C1olY {
      float: left;
      width: 170px;
      margin: 0;
      padding: 0;
      color: #6b7684;
      list-style: none;
      font-size: 15px;
      line-height: 30px;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .GlobalFooter__footerMap-2WG34 .GlobalFooter__mapList-C1olY {
          float: none;
          width: 100%;
          padding-bottom: 40px; } }
      .GlobalFooter__footerMap-2WG34 .GlobalFooter__mapList-C1olY:last-child {
        overflow: hidden;
        float: none;
        width: auto; }
    .GlobalFooter__footerMap-2WG34 .GlobalFooter__mapTitle-12_oK,
    .GlobalFooter__footerMap-2WG34 .GlobalFooter__mapListLink-2GrJX,
    .GlobalFooter__footerMap-2WG34 .GlobalFooter__mapListText-SAST4 {
      display: block;
      text-decoration: none; }
    .GlobalFooter__footerMap-2WG34 .GlobalFooter__mapTitle-12_oK {
      padding-bottom: 5px;
      color: #333d4b; }
    .GlobalFooter__footerMap-2WG34 .GlobalFooter__mapListLink-2GrJX {
      color: #6b7684; }
  .GlobalFooter__footerCompany-28J7f {
    color: #8b95a1;
    font-size: 13px;
    font-style: normal;
    line-height: 20px; }
    .GlobalFooter__footerCompany-28J7f .GlobalFooter__companyName-NW9oG {
      display: block;
      padding-bottom: 16px; }
      .GlobalFooter__footerCompany-28J7f .GlobalFooter__companyName-NW9oG > a {
        display: inline-block;
        color: #8b95a1;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none; }
  .GlobalFooter__footer-3WNqB .GlobalFooter__siteMenu-37wG6 {
    margin: 0;
    padding: 24px 0 30px;
    list-style: none; }
    .GlobalFooter__footer-3WNqB .GlobalFooter__siteMenuItem-2_1pX {
      display: inline-block;
      padding-right: 30px;
      vertical-align: top; }
      @media only screen and (max-width: 768px) {
        .GlobalFooter__footer-3WNqB .GlobalFooter__siteMenuItem-2_1pX {
          display: block; } }
    .GlobalFooter__footer-3WNqB .GlobalFooter__siteMenuLink-1F81F {
      color: #6b7684;
      font-size: 13px;
      line-height: 18px;
      text-decoration: none; }
      @media only screen and (max-width: 768px) {
        .GlobalFooter__footer-3WNqB .GlobalFooter__siteMenuLink-1F81F {
          display: block;
          padding-top: 3px;
          padding-bottom: 3px; } }
      .GlobalFooter__footer-3WNqB .GlobalFooter__siteMenuLink-1F81F em {
        color: #333d4b;
        font-style: normal; }
  .GlobalFooter__footer-3WNqB .GlobalFooter__bookMark-1bQQy {
    margin: 0 0 0 -8px;
    padding: 0;
    list-style: none; }
    .GlobalFooter__footer-3WNqB .GlobalFooter__bookMarkItem-1HvKa {
      display: inline-block;
      vertical-align: top; }
    .GlobalFooter__footer-3WNqB .GlobalFooter__bookMarkLink-zObLN {
      overflow: hidden;
      display: block;
      width: 36px;
      height: 36px;
      color: transparent;
      font-size: 12px;
      background-color: #9798a5;
      border-radius: 36px;
      opacity: 0.7;
      transition: opacity 0.25s ease-in-out; }
      .GlobalFooter__footer-3WNqB .GlobalFooter__bookMarkLink-zObLN:hover {
        opacity: 1; }

.GlobalFooter__footerGrey-oLS_2 {
  background-color: #f7f9fb; }

.DownloadButton__button-2rPH2 {
  display: inline-flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 4px;
  height: 54px;
  padding: 0 28px 0 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 54px;
  color: white;
  transition: transform 0.4s; }
  .DownloadButton__button-2rPH2 > img {
    width: 24px;
    height: 24px;
    margin-right: 14px;
    object-fit: contain; }
  .DownloadButton__button-2rPH2:hover {
    transform: translateY(-1px); }
  .DownloadButton__button-2rPH2 + .DownloadButton__button-2rPH2 {
    margin-left: 24px; }

.ScrollDownButton__button-2lM8y {
  position: absolute;
  animation: ScrollDownButton__blink-3EqJg 1s infinite;
  width: 56px;
  height: 56px;
  left: calc(50% - 28px);
  bottom: 0;
  border: none;
  outline: 0;
  background: transparent;
  padding: 0;
  cursor: pointer; }
  .ScrollDownButton__button-2lM8y > img {
    height: 12px; }
  .ScrollDownButton__button-2lM8y:focus {
    outline: 0; }

@keyframes ScrollDownButton__blink-3EqJg {
  0% {
    opacity: 1;
    transform: translate(0, -2px); }
  50% {
    opacity: .2;
    transform: translate(0, 2px); }
  100% {
    opacity: 1;
    transform: translate(0, -2px); } }


/*# sourceMappingURL=commons.d008d77c.chunk.css.map*/